/Java-basico/CalculadoraIdade/nbproject/private/
/Java-basico/CalculadoraIdade/build/
/Java-basico/RelogioSwing/dist/
/Java-basico/RelogioSwing/build/
/Java-basico/CalculadoraIdade/dist/
/Java-basico/RelogioSwing/nbproject/private/
/Java-basico/operadoresAritmeticos/nbproject/private/
/Java-basico/operadoresAritmeticos/build/
/Java-basico/OperadoresSwing/nbproject/private/
/Java-basico/OperadoresSwing/build/
/Java-basico/ClassMath/nbproject/private/
/Java-basico/ClassMath/build/
