/Java-basico/CalculadoraIdade/nbproject/private/
/Java-basico/CalculadoraIdade/build/
/Java-basico/RelogioSwing/dist/
/Java-basico/RelogioSwing/build/
/Java-basico/CalculadoraIdade/dist/
/Java-basico/RelogioSwing/nbproject/private/
/Java-basico/operadoresAritmeticos/nbproject/private/
/Java-basico/operadoresAritmeticos/build/
/Java-basico/OperadoresSwing/nbproject/private/
/Java-basico/OperadoresSwing/build/
/Java-basico/ClassMath/nbproject/private/
/Java-basico/ClassMath/build/
/Java-basico/ClassMath/dist/
/Java-basico/operadoresAritmeticos/dist/
/Java-basico/OperadoresSwing/dist/
/Java-basico/AtividadesDaAula7/nbproject/private/
/Java-basico/AtividadesDaAula7/build/
/Java-basico/OperadorTernario/nbproject/private/
/Java-basico/OperadorTernario/build/
/Java-basico/ComparacaoString/nbproject/private/
/Java-basico/ComparacaoString/build/
/Java-basico/OperadorLogico/nbproject/private/
/Java-basico/OperadorLogico/build/
/Java-basico/OperadorSwing/nbproject/private/
/Java-basico/OperadorSwing/build/
/Java-basico/OperadorSwing/dist/
/Java-basico/ComparacaoString/dist/
/Java-basico/OperadorLogico/dist/
/Java-basico/OperadorTernario/dist/
/Java-basico/Atividades8/nbproject/private/
/Java-basico/Atividades8/build/
/Java-basico/AtividadeOitoSwing/nbproject/private/
/Java-basico/AtividadeOitoSwing/build/
/Java-basico/AtividadeOitoSwing/dist/
/Java-basico/ProgramaMedia/nbproject/private/
/Java-basico/ProgramaMedia/build/
/Java-basico/EstruturaCondicional/nbproject/private/
/Java-basico/EstruturaCondicional/dist/
/Java-basico/EstruturaCondicional/build/
/Java-basico/EstruturaCondicionalSwing/nbproject/private/
/Java-basico/EstruturaCondicionalSwing/build/
/Java-basico/EstruturaCondicionalSwing/dist/
