/Java-basico/PrimeiroPrograma/target/
/Java-basico/horadosistema/nbproject/private/
/Java-basico/horadosistema/build/
/Java-basico/OlaMundoSwing/nbproject/private/
/Java-basico/OlaMundoSwing/build/
/Java-basico/OlaMundoJavaFX/nbproject/private/
/Java-basico/OlaMundoJavaFX/build/
/Java-basico/OlaMundoJavaFX/dist/
/Java-basico/horadosistema/dist/
/Java-basico/OlaMundoSwing/dist/
/Java-basico/JavaFXApplication3/nbproject/private/
/Java-basico/RelogioSwing/nbproject/private/
/Java-basico/RelogioSwing/build/
/Java-basico/RelogioSwing/dist/
/Java-basico/TiposPrimitivos/nbproject/private/
/Java-basico/TiposPrimitivos/build/
/Java-basico/TesteTipos/nbproject/private/
/Java-basico/TesteTipos/build/
/Java-basico/SomaSwing/nbproject/private/
/Java-basico/SomaSwing/build/
/Java-basico/SomaSwing/dist/
